<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/tacit/tacit-css-1.6.0.min.css"/>
    <title>Maskenton</title>
</head>
<body>
<nav>
    <a href="/main">Main</a>
    <a href="/authors">Authors</a>
    <a href="/about">About</a>
</nav>
<section>
    <article>
        <h1>
            <a href="/posts/post1">
                <span>Article #1</span>
            </a>
        </h1>
        <ul>
            <li>
                <time>Publishing time</time>
            </li>
            <li>
                666 words
            </li>
            <li>
                13 minutes to read
            </li>
            <li>
                <a href="/posts/post1/comment">comment</a>
            </li>
        </ul>
        <p>
            Article body comes here...
        </p>
        <p>
            <a href="/posts/post1">continue...</a>
        </p>
    </article>

    <article>
        <h1>
            <a href="/posts/post2">
                <span>Article #2</span>
            </a>
        </h1>
        <ul>
            <li>
                <time>Publishing time</time>
            </li>
            <li>
                666 words
            </li>
            <li>
                13 minutes to read
            </li>
            <li>
                <a href="/posts/post2/comment">comment</a>
            </li>
        </ul>
        <p>
            Article body comes here...
        </p>
        <p>
            <a href="/posts/post2">continue...</a>
        </p>
    </article>
</section>
</body>
</html>